@import "../node_modules/naiden-css-reset/reset.scss";

@font-face {
  font-family: "Switzer";
  src: url("/Switzer-Variable.ttf");
  font-display: swap;
}

body {
  font-family: "Switzer", Arial;
  background: #000;
  color: #fff;
}

::selection {
  color: #18ff33 !important;
}

main {
  line-height: 1;
  display: grid;
  gap: clamp(1.5rem, 2.5vw, 2.5rem);
  padding: 1rem;
  font-size: 8vw;
  font-weight: 500;
}

a {
  display: inline-block;
  cursor: crosshair;

  &:is(:hover, :focus-visible, :active) {
    outline: 0;
    color: #18ff33 !important;
  }
}
