@import '../node_modules/naiden-css-reset/reset.scss';

@font-face {
    font-family: "PPNeueMontreal-Medium";
    src: url("/PPNeueMontreal-Medium.otf");
    font-display: swap;
}

body {
    font-family: "PPNeueMontreal-Medium", Arial;
    font-size: clamp(2.125rem, 6vw, 7.25rem);
}

::selection {
    color: #18ff33 !important;
}

.main {
    line-height: 1.1;
    display: grid;
    gap: clamp(1rem, 5vw, 6rem);
    padding: 0 clamp(.5rem, 2vw, 1.5rem);

    span {
        font-size: larger;
        text-transform: uppercase;
    }
}

::-webkit-scrollbar {
    display: none;
}

a {
    cursor: crosshair;

    &:is(:hover, :focus-visible, :active) {
        outline: 0;
        color: #18ff33 !important;
    }
}

html.lenis, html.lenis body {
    height: auto;
}
  
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

#threejs-container {
    position: fixed;
    z-index: -1;
}