@import "../node_modules/naiden-css-reset/reset.scss";

@font-face {
  font-family: "Overused Grotesk";
  src: url("/OverusedGrotesk-VF.ttf");
  font-display: swap;
}

body {
  font-family: "Overused Grotesk", Arial;
  background: #000;
  color: #fff;
}

@media (pointer: fine) {
  * {
    cursor: none;
  }

  .cursor {
    position: fixed;
    // top: -2rem;
    left: -2rem;
    pointer-events: none;
    z-index: 9999;
    background: url("../public/bitmap.png");
    width: 29px;
    height: 45px;
  }
}

::selection {
  color: #18ff33 !important;
}

main {
  line-height: .8;
  letter-spacing: -.125rem;
  display: grid;
  gap: clamp(1.5rem, 8vw, 20rem);
  padding: .25rem;
  font-size: 8vw;
  font-weight: 400;
  text-transform: uppercase;
  text-align: justify;
}

a {
  display: inline-block;
  cursor: url(../public/bitmap2.png), auto;

  &:is(:hover, :focus-visible, :active) {
    outline: 0;
    color: #18ff33 !important;
  }
}

#threejs-container {
  position: fixed;
  z-index: -1;
}
